<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version = "1.0"><dict><key>CPBundleInfoDictionaryVersion</key><integer>6</integer><key>CPBundleName</key><string>Aristo.blend</string><key>CPBundleIdentifier</key><string>com.280n.blend.Aristo</string><key>CPBundleVersion</key><real>0.1</real><key>CPBundlePackageType</key><string>BLND</string><key>CPBundlePlatforms</key><array><string>Browser</string><string>CommonJS</string></array><key>CPBundleExecutable</key><string>Aristo.blend.sj</string><key>CPBundleReplacedFiles</key><dict></dict><key>CPKeyedThemes</key><array><string>Aristo.keyedtheme</string><string>Aristo-HUD.keyedtheme</string></array></dict></plist>